#!/usr/bin/env ruby

require_relative "../aoc_solution"

class Day < AOCSolution
  def parse_data
    # access @data to parse input
  end

  def pt1
  end

  def pt2
  end
end

filename = "sample.txt"
# filename = "input.txt"
Day.new(filename).solve!
